<h1>Enter Email:</h1>
<form action="/sessions/recover" method="post">
  <label for="email">
    Email: <input type="email" name="email">
  </label>
<input type="submit" value="Recover Password">
</form>
