<h1> Don't sign up! </h1>

<form action='/users' method='POST'>

  <label for="email">
    Email:
  <input type="email" name="email" value='<%=@user.email%>' required>
  </label>
  <label for='password'>
    Password:
    <input type='password' name='password' required/>
  </label>
  <label for='password_confirmation'>
    Password confirmation:
    <input type='password' name='password_confirmation' required/>
  </label>
  <input type='submit' value='Sign up'>
</form>
