<h1> Don't sign up! </h1>

<form action='/users' method='POST'>
  <label for='email'>
    Email:
    <input type='text' name='email'/>
  </label>
  <label for='password'>
    Password:
    <input type='text' name='password'/>
  </label>
  <label for='password_confirmation'>
    Password confirmation:
    <input type='text' name='password_confirmation'/>
  </label>
  <input type='submit' value='Sign up'>
</form>
