<h1> Add new link</h1>

<form action="/links" method="post">
  <label for='title'>
    Title:
    <input type="text" name="title"/>
  </label>
  <label for='URL'>
    URL:
    <input type="url" name="URL"/>
  <label/>
  <label for='Tags'>
    Tags:
    <input type="text" name="Tag"/>
  </label>
  <input type="submit" value="Create link"/>
</form>
