<h1> Links </h1>
<ul id='links'>
 <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL:   <%= link.url %>
    Tag:  <%= link.tags.map(&:name).join(" / ") %>
  </li>
<% end %>
</ul>
